.container-fluid{
    border: 2px solid pink;
}


.mark {
    background-image: url(../compBack.jpg);
    background-attachment: fixed;
    background-size: cover;
    
}
    
.julie
{
    margin-top: 300px;
    position: static;
    
}


 
.nida
{
    background-color: bisque;
    opacity: .780;
    
    
